Screen {
    align: center middle;
}
#timer-selector {
    dock: top;
    margin: 1 2;
}
#timer {
    padding: 0;
    margin-top: 2;
}
#timer.pomodoro {
    color: yellow;
}
#timer.break {
    color: cyan;
}
#buttons-container {
    width: 100%;
    align: center middle;
    margin-top: 1;
}
ToastRack {
    dock: top;
}
